{% extends "admin/base.html" %}

{% block content_title %}我的面板{% endblock %}

{% block sidebar %}
<h3>我的常用操作</h3>
<ul id="nav" class="nav nav-list">
	<li><a href="#">新增人员</a></li>
	<li><a href="#">新增部门</a></li>
	<li><a href="#">新增职位</a></li>
	<li><a href="#">新增区域</a></li>
</ul>
{% endblock %}

{% block content %}
  {% if panels %}
    <div class="row-fluid">
    {% for panel in panels %}
      {{ panel.render()|safe() }}
    {% endfor %}
    </div>
  {% endif %}

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="shrink model-name">模型名称</th>
        <th class="records">记录数</th>
        <th class="shrink controls">快捷操作</th>
      </tr>
    </thead>
    <tbody>
      {% for iter_admin in model_admins %}
        <tr class="link">
          <td><span class="show"><a href="{{ url_for(iter_admin.get_url_name('index')) }}">{{ iter_admin.get_display_name()|fix_underscores }}</a></span></td>
          <td><span>{{ iter_admin.get_query().count() }}</span></td>
          <td class="links">
            <ul class="inline">
              <li><a href="{{ url_for(iter_admin.get_url_name('add')) }}">新增</a></li>
              <li><a href="{{ url_for(iter_admin.get_url_name('export')) }}">导出</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
